@media screen and (max-width: 720px) {
	body {
		margin: 0;
	}
	.resume {
	  margin-left: 0.5em;
	  font-size: 20pt;
	}
	.name {
		font-size: 40pt;
	}
	.intro{
		font-size: 12pt;
	  width: 100%;
	}
	.timeline {
		width: 100%;
	}
	.other {
		padding: 0 4%;
	  padding-left: 3em;
	  width: 100%;
	}
}
