body {
	margin: 3em;
	padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #222;
  box-shadow: 0 10px 100px 0 rgba(34,36,38,.1);
  padding-bottom: 3em;
}


h1 {
	font-size: 18pt;
  font-weight: 400;
	margin: 0;
  margin-bottom: 0.5em;
}


/*_________________ PRELOADER _________________*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: linear-gradient(to right, #171A21 , #554764);
  z-index: 60;
}
.preloader__img {
  width: 7em;
  height: 7em;
  background: url(../img/pre.gif) no-repeat;
  background-size: cover;
  margin: 20% auto;
}


/*_________________ SKROLLBAR ______________________*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #e6e6e6;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(23,26,33, 0.7);
}


/*_________________ WAVES ______________________*/
.editorial {
  display: block;
  width: 100%;
  height: 116px;
  margin: 0;
  position: absolute;
  left: 0;
}
.editorial.bottom path, .editorial.bottom svg {
  position: absolute;
  bottom: 0;
}
.editorial.top path, .editorial.top svg {
  position: absolute;
  top: 0;
}
.editorial.top {top: -0.1em;}
.editorial.bottom {bottom:-0.1em;}
.st{
  animation: move-forever 50s linear infinite;
}
.st0 {
  animation-delay: -4s; animation-duration: 15s;
  fill: #fff;
}


/*_________________ TAG ARROWS ______________________*/
.prevWorks, .nextWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #E0E0E0;
  text-shadow: 0px 0px 1px rgb(157, 157, 157);
	position: absolute;
  height: 100%;
}
.prevWorks {left: 2em;}
.nextWorks {right: 2em;}
.prevWorks p, .nextWorks p {
  font: 60pt MontserratLight, sans-serif;
}


/*_________________ HEADER _________________*/
header {
	color: #fff;
  background: linear-gradient(to right, #171A21 , #554764);
  position: relative;
}
header .bg {
  background-image: url(../img/bg.svg);
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  padding: 1em 6%;
  padding-bottom: 130px;
}
.wrapper {
	padding-top: 1em;
}
.resume {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 24pt;
  font-weight: 400;
  border-bottom: 3px solid #fff;
}
.name {
	font-size: 54pt;
  font-weight: 700;
  margin: 0;
  margin-top: 0.2em;
}
.intro{
  margin-left: 0.5em;
	font-size: 13pt;
  font-weight: 300;
  width: 75%;
}


/*_________________ SOCIAL NETWORKS ______________________*/
.social {
	display: flex;
  margin: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
}
.social a {
	margin: 0.3em 0.5em;
  margin-bottom: 1em;
  text-decoration: none;
  color: #fff;
  display: flex;
  font-size: 12pt;
  font-weight: 300;
}
.social a:last-child { margin-right: 0; }
.social i {
	transition: 0.6s ease;
  margin-right: 0.4em;
  font-size: 13pt;
}
.social i:hover {
	transform: scale(1.2);
}


main {
  display: flex;
}
.timeline {
  width: 60%;
  padding: 0 4%;
  padding-left: 3em;
}
.edu {
  margin-bottom: 2em;
}
.timeline i, .edu i {
  margin-left: -1.5em;
  color: #554764;
}
.timeline div, .edu div {
  margin: 1em 0;
}
.timeline .text, .edu .text {
  display: inline;
  margin-left: 0.3em;
}
.date {
  margin: 0;
  font-weight: 300;
  font-size: 11pt;
  font-style: italic;
  color: #818181;
  width: 100%;
}
.goodgirl {color: #c6c6c6;}
.other {
  padding: 0 2em;
  padding-left: 1em;
  width: 50%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.skills h1 {width: 100%;}
.skills span {
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.1em;
  color: #fff;
}
.skills span:nth-child(2) {background-color: #865194;}
.skills span:nth-child(3) {background-color: #91609D;}
.skills span:nth-child(4) {background-color: #9C70A7;}
.skills span:nth-child(5) {background-color: #A780B1;}
.skills span:nth-child(6) {background-color: #9C70A7;}
.skills span:nth-child(7) {background-color: #91609D;}
.skills span:nth-child(8) {background-color: #865194;}
.skills span:nth-child(9) {background-color: #91609D;}
.skills span:nth-child(10) {background-color: #9C70A7;}
.skills span:nth-child(11) {background-color: #A780B1;}
.skills span:nth-child(12) {background-color: #9C70A7;}
.skills span:nth-child(13) {background-color: #91609D;}
.skills span:nth-child(14) {background-color: #865194;}
.skills span:nth-child(15) {background-color: #91609D;}
.skills span:nth-child(16) {background-color: #9C70A7;}

.lang {
  margin-bottom: 2em;
}
